body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
    transition: background-color 0.5s, color 0.5s;
    font-family: Arial, sans-serif;
  }
  
  #mood-container {
    margin-top: 20%;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  p {
    font-size: 1.2em;
  }  